name: SSH_Test

on:
  push:
   branches: [ main ]

jobs:
  Settingupssh:
    runs-on: macubuntu

    steps:
     - name: Doing ssh
       run: |
        echo "${{ secrets.SSH_PRIVATE_KEYS }}" >> ~/.ssh/id_rsa_gh
        chmod 600 ~/.ssh/id_rsa_gh
        ssh-keyscan -H localhost >> ~/.ssh/known_hosts
        
     - name: Run command on localhost over SSH
       run: |
        ssh -i ~/.ssh/id_rsa_gh -o StrictHostKeyChecking=no piyush@localhost << 'EOF'
        hostname
        pwd
        ifconfig
        ps -lef
        echo "All command finished"
        EOF
